/****Tag selectors****/
body {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(104, 169, 255, 0.281);
}

h1 {
  font-size: 20px;
  display: inline-block;
}

p {
  color: grey;
  font-size: 14px;
  display: inline-block;
}



/****Class selectors****/
.qr-content {
  background-color: white;
  margin: auto;
  width: 15%;
  padding: 10px;
  top: 50%;
  transform: translate(0, 50%);
  border-radius: 10px;
}

.qr-code {
  width: 95%;
  position: relative;
  top: 5px;
  border-radius: 10px;
}

.qr-content-desciprtion {
  width: 90%;
  margin-top: 30px;
}

.qr-content-desciprtion2 {
  width: 90%;
}

